<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{textdef.title}}</title>
    <script type="text/javascript" src="/static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="./static/img/favicon.ico">
    <meta http-equiv=”Cache-Control” content=”no-cache”>
</head>
<body>
    <input id="id_textdef" type="hidden" value="{{textdef_text}}" />
    <div class="title">{{textdef.title}}</div>
    <div class="main">
        <div class="area-404">{{textdef.image_missing}}</div>
    </div>
    <div class="footer">{{textdef.copyright}}</div>
</body>
</html>